* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

#navbar {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 6px;
    position: sticky;
    z-index: 1020;
    top: 0;
    background-color: #fff;
}

.logo-img {
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;
    padding: 5px 0;
    margin-left: 70px;
}

#navbar .menu {
    display: flex;
    margin-right: 70px;
}

#navbar .menu .nav-link {
    display: block;
    margin: 0 20px
}

#navbar .menu a {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: #626060;
    align-items: center;
    text-align: center;
}

#navbar .menu a:hover {
    color: rgb(10, 88, 202);
}

.dd-nav-item {
    display: flex;
}

.dd-nav-item button {
    color: #626060;
    position: relative;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    transition: transform .3s ease-in-out;
    cursor: pointer;

}

.dd-mega-menu-services {
    display: none;
}

.dd-nav-item:hover .dd-mega-menu-services {
    display: block
}

.dd-menu-services {
    position: absolute;
    background-color: #fff;
    padding: 10px 10px 20px;
    margin: 25px 0 0;
    width: 70vw;
    left: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
}

.dd-menu-services .dd-link {
    padding: 20px;
    border-bottom: 2px solid #e8e8e8;
    margin-right: 50px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
}

.dd-menu-services .dd-link:hover {
    box-shadow: 2px 2px 3px #d9d9d9;
    background-color: #fff;
    border-radius: 10px;
}

.dd-menu-services .dd-link img {
    margin-right: 10px;
}

#hero-section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 40px;
}

.hs-content-img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.hs-content {
    width: 50%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
}

.hs-content h1 {
    font-weight: 700;
    width: 600px;
    font-size: 40px;
}

.hs-content p {
    margin: 10px 0;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.hs-btns {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #bbb;
}

.hs-btns a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
}

.hs-btns a:hover {
    color: rgb(10, 88, 202);
}

.hs-img {
    width: 50%;
    margin: auto;
}

.hs-img img {
    width: 97%;
    height: 100%;
    border-top-left-radius: 120px;
    vertical-align: middle;
}

.hs-main-slider {
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 40px 0 40px;
    background-color: #000;
    padding-bottom: 0;
}

.hs-my-slider {
    margin: auto;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
}

.hs-my-slide-track {
    display: flex;
    width: 4500px;
    animation: scroll1 20s linear infinite;
}

.hs-my-slide-track .hs-my-slide {
    display: flex;
    align-items: center;
    perspective: 100px;
    margin: 0 60px;
    transition: all .20s;
}

#second-section {
    width: 1140px;
    margin: 50px 105px;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-section h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    width: 50%;
    line-height: 70px;

}

.about-section {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.about-img {
    background-image: url(./images/fixed-image.a54233c1.jfif);
    background-attachment: fixed;
    background-position: 0;
    height: 624px;
    width: 416px;
}

.about-content {
    margin: 0 2rem;
    font-size: 18px;
    width: 50%;
    padding: 0 50px;
}

.about-content p {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 27px;
    color: rgb(33, 37, 41);
}

.about-content img {
    width: 130px;
}

.about-last-img img {
    transform: translate(250px, -60px);
    width: 100%;
}

#third-section-services {
    display: flex;
    margin-bottom: 48px;
    margin-left: 105px;
    margin-right: 105px;
    padding: 0 12px;
    width: 1140px;
}

.service-row-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.service-row-1 .card {
    width: 420px;
    padding: 50px;
    border: 1px solid #dee2e6;
    border-top: none;
    border-left: none;
    text-decoration: none;
    color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.service-row-1 .card h1 {
    cursor: pointer;
    font-weight: 700;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.service-row-1 .card h1 hr {
    color: #000;
    width: 60px;
    opacity: 1;
    transition: all .5s ease-in-out;
    margin-right: 0.5rem;
}

.service-row-1 .card .headings:hover hr {
    margin-right: 0;
    width: 0;
    transition: all .90s;
}

.service-row-1 .card p {
    color: #555;
    font-weight: 600;
    margin-bottom: 16px;
}

.service-row-1 .card .subcatogry-card li {
    font-weight: 700;
}

.service-row-1 .card .subcatogry-card li i {
    margin-right: 10px;
}

#portfolio-structure {
    background-color: #000;
    padding: 80px 40px;
    margin: 10px 0 100px;
}

.pf-sidebar {
    display: flex;
    flex-direction: column;
}

.pf-main-tabs {
    position: relative;
    display: flex;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 16px;
    margin-right: 16px;
}

.pf-main-tabs-btns {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.pf-main-tabs-btns h2 {
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 8px;
    margin-right: 16px;
}

.pf-sidebar .tabs {
    display: flex;
}

.pf-sidebar .tabs .pf-card-tb {
    margin-top: 50px;
    cursor: pointer;
}

.pf-sidebar .tabs .pf-card-tb h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.pf-sidebar .tabs .pf-card-tb p {
    margin: 10px 0;
    color: #fff;
    opacity: .5;
    font-size: .8rem
}

.pf-sidebar .tabs div:nth-child(2) {
    margin-left: 32px;
}

.pf-description-content {
    color: #fff;
    margin-bottom: 70px;
}

.pf-description-content :first-child {
    font-weight: 700;
    font-size: 60px;
}

.pf-description-content :nth-child(2) {
    font-weight: 700;
    font-size: 32px;
}

.pf-description-content P {
    width: 100%;
    margin-bottom: 16px;
}

.pf-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.anime-card {
    background-color: #21232b;
    transition: all .5s ease-in-out;
    position: relative;
    padding: 50px 30px;
    height: 350px;
    margin: 10px 10px 10px 0;
}

.anime-card:first-child:hover {
    background-color: #000;
    width: 100%
}

.anime-card:nth-child(2):hover {
    background-color: #98ae7a;
    width: 100%
}

.anime-card:nth-child(3) .pf-logo-img img {
    filter: invert();
    width: 110px;
    margin-top: -30px;
}

.anime-card:nth-child(3):hover {
    background-color: #ad904c;
    width: 100%
}

.anime-card:nth-child(4):hover {
    background-color: #434040;
    width: 100%
}

.anime-card:nth-child(5):hover {
    background-color: #028302;
    width: 100%
}

.anime-card:nth-child(6):hover {
    background-color: #151564;
    width: 100%
}

.anime-card .card-img {
    width: 50%;
}

.anime-card:first-child .pf-logo-img {
    position: absolute;
    top: 0;
}

.anime-card:first-child .pf-logo-img img {
    width: 100%;
}

.pf-cloud-img {
    width: 0;
    position: absolute;
    top: 15%;
    right: 2%;
    transition: all 1s ease-in-out;
}

.pf-cloud-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pf-plane-img {
    width: 0;
    position: absolute;
    top: 35%;
    right: 5%;
    transition: all 1s ease-in-out
}

.pf-plane-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.anime-card:hover .pf-card-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-weight: lighter
}

.anime-card:hover .pf-cloud-img,
.anime-card:hover .pf-plane-img {
    width: 45%
}

.pf-card-content {
    display: none;
    position: absolute;
    top: 20%;
}

.ui-ux-card {
    display: flex;
    justify-content: flex-start;
}

.ui-ux-card .ui-card {
    padding-left: 6.4px 6px;
    margin-left: 8px;
}

.pf-card-para {
    font-size: 15px;
    line-height: 22px;
}

.explore-project-pf {
    display: none;
}

.explore-project-pf {
    line-height: 24px;
}

.explore-project-pf span {
    display: flex;
    align-items: center;
}

.explore-project-pf span hr {
    color: #fff;
    width: 60px;
    opacity: 1;
    transition: all .5s ease-in-out;
    margin-right: 0.5rem;
}

.anime-card:hover .explore-project-pf {
    cursor: pointer;
    display: block;
    margin-top: 10px
}

.explore-project-pf:hover hr {
    width: 0;
    margin: 0;
}

#blog-section {
    padding-bottom: 140px;
}

#blog-section .container {
    margin: 0 104px;
    padding: 0 12px;
}

#blog-section .container .row {
    display: flex;
    flex-wrap: wrap;
    line-height: 24px;
    margin: 0 -12px;
    color: rgb(33, 37, 41);
}

.row .row-1 {
    padding: 0 12px;
}

#blog-section .blog-section-heading {
    position: relative;
    padding-left: 330px;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.blog-section-heading h2 {
    background-color: #fff;
    font-weight: 600;
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.2;
    color: #555;
    padding-bottom: 15px;
}

.blog-section-heading h3 {
    font-size: 60px;
    line-height: 1;
    color: #121212;
    width: 70%;
    background-color: #fff;
    font-weight: 600;
}

.row .col-1 {
    flex: 0 0 auto;
    width: 50%;
}

.row .col-1 .article-1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px 0;
}

.article-1 .blog-img-box {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.article-1 .blog-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    transition: .5s;
    background-size: cover;
}

.article-1 .blog-info {
    position: absolute;
    width: 63%;
    bottom: -1px;
    right: 0;
    margin-left: -50px;
    background: #fff;
    z-index: 1;
    padding: 40px;
}

.article-1 .blog-info h4 a {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    color: #555;
    margin-bottom: 10px;
    transition: all .3s;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.article-1 .blog-info h4 a:hover {
    color: rgb(10, 88, 202);
}

.article-1 .blog-info h5 a {
    padding-bottom: 50px;
    display: block;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
    color: #121212;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
    transition: all .3s;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.article-1 .blog-info h5 a:hover {
    color: rgb(10, 88, 202);
}

.article-1 .blog-info .blog-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #555;
    text-transform: capitalize;
    transition: all .3s;
    position: relative;
    z-index: 1;
}

.article-1 .blog-info .blog-btn:hover {
    color: rgb(10, 88, 202);

}

.blog-btn span {
    overflow: hidden;
    position: absolute;
    top: 4px;
    right: -28px;
}

#footer-section {
    background-color: #121212;
    border-top: 1px solid #262626;
}

.footer-top {
    border-bottom: 1px solid #262626;
}

.footer-top-wrap {
    display: grid;
    padding: 0 50px;
    grid-template-columns: repeat(2, 1fr);
}

.footer-logo {
    padding-top: 40px;
}

.footer-logo h1 {
    cursor: pointer;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
}

.footer-logo p {
    max-width: 310px;
    color: #999;
    padding: 0;
    margin: 0;
    font-style: normal;
    line-height: 1.5;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.footer-social {
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: block;
    border-bottom: 1px solid #262626;
    list-style: none;
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.footer-social li:hover {
    background-color: #fff;
}

.footer-social li a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 38px 0;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.footer-social li a:hover {
    color: #000;
}

.footer-contact {
    text-align: right;
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-contact a {
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.footer-contact a:hover {
    color: rgb(10, 88, 202);
    transition: all .3s;
}

.footer-bottom {
    padding: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.footer-container .row-3 {
    padding: 0 12px;
}

.footer-copyright p {
    max-width: 235px;
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    color: #999;
    position: relative;
    z-index: 1;
}

.footer-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-menu {
    text-align: right;
    margin: 0;
    padding: 0;
    margin-left: 850px;
}

.footer-menu li {
    display: inline-block;
    list-style: none;
    position: relative;
    z-index: 1;
    margin-left: 10px
}

.footer-menu li a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    transition: all .3s;
    position: relative;
    z-index: 1;
}

@media (max-width:890px) {
    #navbar {
        display: flex;
    }
}

@media (max-width:768px) {
    #navbar {
        width: 1000px;
    }
}

@media (max-width:1000px) {
    #navbar .menu {
        width: 960px;
        display: flex;

    }
}

@media (max-width:1000px) {
    #second-section {
        width: 960px;
        margin: 50px 0;
    }
}

@media (max-width:768px) {
    #hero-section {
        width: 1000px;
    }
}

@media (max-width:768px) {
    #second-section {
        width: 960px;
        margin: 50px 0;
    }
}

@media (max-width:1000px) {
    #second-section .about-section {
        display: flex;
        flex-direction: column;

    }
}

@media (max-width:768px) {
    #third-section-services {
        width: 1000px;
        margin: 0;
    }
}

@media (max-width:1000px) {
    #third-section-services {
        width: 900px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    #third-section-services {
        width: 720px;
    }
}

@media (max-width: 576px) {
    #third-section-services {
        width: 540px;
    }
}

@media (max-width: 768px) {
    #portfolio-structure {
        width: 1000px;
    }
}

@media (max-width:1000px) {
    .pf-description {
        display: flex;
        flex-direction: column;
    }

    .pf-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .anime-card .pf-logo-img img,
    .anime-card:hover .pf-cloud-img,
    .anime-card:hover .pf-plane-img {
        width: 30%
    }

    .explore-project-pf span,
    .pf-card-para {
        font-size: 15px
    }
}

@media (max-width: 768px) {
    #blog-section {
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .footer-top-wrap .footer-contact a {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    #footer-section {
        width: 1000px;
        font-size: 100px;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .footer-menu {
        margin: 0;
    }
}

/*About Us*/
#about-us-section {
    background-image: url(./images/about_sec.5d62e18c.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 137vh;
}

.fast-grow-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    margin: 0 105px;
    padding: 0 12px;
}

.fast-grow-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 48px;
    color: rgb(33, 37, 41);
}

.fast-grow-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    border-radius: 62.5rem;
    padding: 6px 12px;
    width: fit-content;
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: #333;
    background-color: #f6f6f6;
}

.fast-grow-span p {
    font-size: .95rem;
    line-height: 1rem;
    letter-spacing: .016rem;
    margin-bottom: 0;
}

.fast-grow-content h1 {
    font-weight: 600;
    color: #333;
    font-size: 51px;
    line-height: 64px;
    margin-bottom: 16px;
    margin-top: 10px;
}

.fast-grow-content h5 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    width: 468px;
}

.hero-about-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0);
    opacity: 1;
    position: relative;
    width: 250px;
    border-radius: 100%;
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-about-btn-wrap a {
    width: 170px;
    height: 170px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #555;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    overflow: hidden;
    transition: all .3s;
    text-decoration: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-about-btn-wrap a:hover {
    background-color: blue;
    color: #fff;
    font-weight: 600;
    border: 1px solid blue;
}

svg {
    vertical-align: middle;
}

.fast-grow-sec .container {
    margin: 0 105px;
    padding: 0 12px;
}

.fast-grow-sec .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.fast-grow-sec .container .row .col-1 {
    position: relative;
    padding: 0 12px;
    width: 375px;
}

.first-box {
    width: 400px;
}

.first-box .box-content {
    width: 350px;
}

.first-box .box-content h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(33, 37, 41);
}

.first-box .box-content p {
    font-size: 17px;
    color: #333;
    line-height: 26px;
}

#counter-section {
    padding: 140px 0;
}

#counter-section .container-1 {
    margin: 0 105px;
    padding: 0 12px;
}

#counter-section .container-1 .row-1 {
    display: flex;
    flex-wrap: wrap;
}

#counter-section .container-1 .row-1 .col-1 .counter-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.counter-wrap .counter-item {
    display: flex;
    gap: 30px;
    margin-left: 60px;
}

.counter-wrap .counter-item-img {
    width: 60px;
}

.counter-item-img img {
    width: 100%;
}

.counter-item-content h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    color: #2c2c2c;
}

.counter-item-content p {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

/* Carrer Section*/
#job-section {
    padding-bottom: 150px;
    padding-top: 130px;
    background-color: rgb(0, 0, 0);
}

#job-section .cont {
    margin: 0 105px;
    padding: 0 12px;
}

#job-section .container .row {
    display: flex;
    flex-wrap: wrap;
}

#job-section .container .row .col {
    padding: 0 12px;
}

.job-list {
    padding-top: 48px;
}

.job-list-1 {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #2c2c2c;
}

.job-list-1 .col-5 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
    color: #a8a8a8;
    width: 95px;
}

.job-list-1 .col-5 p {
    margin-bottom: 16px;
}

.job-list-1 .col-6 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: #a8a8a8;
    transition: all .3s;
    transition-duration: .5s;
    width: 760px;
    padding: 0 12px;
    margin-bottom: 8px;
}

.job-list-1 .col-6:hover {
    color: #fff;
}

.job-list-1 .col-7 {
    padding: 0 12px;
    width: 240px;
    text-align: right;
}

.hiring-arrow svg {
    font-size: 30px;
    color: #a8a8a8;
    transform: rotate(220deg);
    transition: all .3s;
}

.gp {
    background-color: rgb(255, 255, 255);
}

.gp .cont {
    padding: 140px 12px;
    margin: 0 105px;
}

.gp .cont .row {
    display: flex;

}

.gp .cont .col-8 {
    display: block;
    padding: 0 12px;
    width: 665px;
}

.career-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding-left: 32px;
}

.career-list li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    text-align: center;
    border: 1px solid #c8c7c7;
    border-radius: 100%;
    margin-top: -30px;
    font-weight: 600;
    font-size: 18px;
    color: #121212;
    margin-left: -30px;
}

.gp .cont .col-9 {
    display: block;
    padding: 0 12px;
    width: 475px;
}

.hiring-sect-right {
    margin: 24px 0;
}

.hiring-sect-right h1 {
    font-weight: 700;
    font-size: 63px;
    line-height: 1;
}

.hiring-sect-right p {
    font-size: 18px;
    line-height: 1.4;
    padding-right: 10px;
    padding-top: 40px;
    font-weight: 600;
}

@media (max-width:890px) {
    .fast-grow-cont {
        display: flex;
    }
}

@media (max-width:768px) {
    .fast-grow-cont {
        width: 1000px;
    }
}

@media (max-width:1000px) {
    .fast-grow-cont {
        width: 960px;
        display: flex;
        margin-left: 40px;
        padding: 0;

    }
}

@media (max-width:768px) {
    .fast-grow-cont {
        width: 900px;
        display: flex;

    }
}

@media (max-width:1000px) {
    #job-section .cont {
        margin: 0;
        width: 1000px;
        display: flex;
    }

    .job-list-1 {
        width: 800px;
        margin: 0 50px;
    }

    .job-list-1 .col-6 {
        width: 400px;
    }

    .gp .cont {
        margin: 0 50px;
    }

    .gp .cont .row {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:768px) {
    #job-section {
        width: 1000px;
    }

    #job-section .cont {
        margin: 0;
        width: 1000px;
        display: flex;
    }

    .job-list-1 {
        width: 800px;
        margin: 0 50px;
    }

    .job-list-1 .col-6 {
        width: 400px;
    }

    .gp .cont .row .col-8 {
        width: 500px;
    }

    .gp .cont {
        margin: 0;
    }

    .job-list-1 .col-9{width: 400px;}
}
@media (max-width:576px) {
    .gp {
        width: 1000px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width:376px) {
    .gp {
        width: 1000px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .gp .cont{
        display: flex;
        flex-direction: row;
    }
}

/* contact us */

#contact-page {
    padding-top: 120px;
    padding-bottom: 80px;
}

#contact-page .container {
    margin: 0 105px;
    padding: 0 12px;
}

#contact-page .container .row-6 {
    display: flex;
    color: rgb(33, 37, 41);
}

#contact-page .container .row-6 .col-1 {
    width: 570px;
    padding: 0 12px;
}

.sec-tittle-wrap {
    text-align: left;
}

.sec-tittle-wrap h2 {
    font-size: 100px;
    font-weight: 600;
    line-height: 120px;
}

#contact-page .container .row-6 .col-1 {
    width: 570px;
    padding: 0 12px;
}

.contact-text {
    max-width: 330px;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.contact-text p {
    font-size: 20px;
}

.contact-form-info {
    padding-top: 66px;
    display: flex;
    flex-wrap: wrap;
}

.contact-form-info .col-1 {
    padding: 0 12px;
    width: 450px;
}

.contact-form-info .col-1 .form-info {
    padding-top: 15px;
    color: rgb(33, 37, 41);
}

.contact-form-info .col-1 .form-info h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    padding-bottom: 30px;
}

.form-info ul li {
    list-style: none;
    position: relative;
    z-index: 1;
}

.form-info ul li a {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #121212;
    display: block;
    margin-bottom: 10px;
}

.contact-form-info .col-2 {
    padding: 0 12px;
}

.contact-page .row-6 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;

}

.contact-page .row-6 .col-7 {
    padding: 0 8px;
    width: 328px;
}

.contact-page .row-6 .col-7 input {
    width: 100%;
    font-size: 16px;
    color: #868585;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 0;
    transition: all .3s;
    outline: 0;
    position: relative;
    z-index: 1;
    background: transparent;
    margin-bottom: 35px
}

.contact-page .row-6 .col-7 select {
    width: 100%;
    font-size: 16px;
    color: #868585;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 0;
    transition: all .3s;
    outline: 0;
    position: relative;
    z-index: 1;
    background: transparent;
    margin-bottom: 35px
}

.contact-page .row-6 .col-7 textarea {
    width: 650px;
    font-size: 16px;
    color: #868585;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 0;
    transition: all .3s;
    outline: 0;
    position: relative;
    z-index: 1;
    background: transparent;
    margin-bottom: 35px
}
@media (max-width:1000px){
    .sec-tittle-wrap h2{
font-size: 50px;
line-height: 60px;
    }
}
@media (max-width:768px){
    .contact-form-info{
        width: 800px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .sec-tittle-wrap a {
        width: 100px;
        height: 100px;
    }

}
@media (max-width:576px){
    #contact-page {
        width: 1000px;
    }
    .contact-form-info{
        width: 800px;
        display: flex;
        text-align: center;
    }
}